.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;  
  max-width: 750px;
}

.app__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 78px;
}

.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.app__footer {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}

.SearchPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: stretch;
  padding: 10px;
}

.search-panel__right {
  flex-grow: 1;
}

.search-panel__logo {
  padding-right: 10px;
  color: red;
  font-size: 20px;
  width: 68px;
}

.search-panel__input {
  display: flex;
  justify-content: stretch;
}

.search-panel__input input {
  flex-grow: 1;
}

.search-panel__menu {
  font-size: 14px;
  margin-bottom: 6px;
}

.search-panel__menu a {
  margin-right: 6px;
  text-decoration: none;
}

.search-panel__menu a:hover {
  color: red;
}

.search-panel__example {
  font-size: 12px;
  margin-top: 6px;
}

.search-panel__example a {
  margin-left: 6px;
  color: gray;
  text-decoration: none;
}

.search-panel__example a:hover {
  color: red;
}

.Recomendation {
  margin: 10px;
}

.recomendation__bottom {
  margin-top: 6px;
  font-size: 12px;
}

.recomendation__age {
  color: gray;
  margin-left: 10px;
}

.recomendation__top a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.recomendation__top a:hover {
  color: red;
}

.recomendation__top img {
  width: 100px;
}

.NewsList {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.news__a {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 12px;
}

.news__a:hover {
  color: red;
}

.news__a span {
  margin-left: 6px;
}

.news__image {
  height: 20px;
}

.Ad {
  display: flex;
}

.ad__image {
  width: 100%;
}

.exchange-rates-list {
  margin-top: 6px;
}

.exchange-rate {
  margin-right: 10px;
  font-size: 14px;
  color: black;
  text-decoration: none; 
}

.exchange-rate:hover {
  color: red; 
}

.exchange-rate__currency {
  font-weight: bold;
}

.exchange-rate__rate {
  margin-left: 4px;
}

.exchange-rate__rate-change {
  margin-left: 4px;
  font-size: 12px;
  color: gray;
}

.CardsList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__a {
  padding-bottom: 6px;
  text-decoration: none;
  font-weight: bold;
}

.card__a:hover {
  color: red;
}